---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ProfileImage from "assets/profile.jpeg"
---

<Layout pageTitle="About">
    <div style="display: flex;gap: 1rem;">
      <Image width="240" src={ProfileImage} alt=""/>
      <div>
        <p>
          I'm a full stack developer focusing on .NET backend applications in Azure and React frontend development. In my free time, I like to dabble in signal processing, netowrking, and graphics applications. 
        </p>
        <p>
          I first got into programming back in 2008 when I became interested in writing mods for some of the new open-world games that were coming out. You can still find my first networking article on 
          <a href="https://www.codeproject.com/articles/How-to-craft-UDP-packets-and-send-them-with-WinPCa">Code Project</a>. In college, I decided to take Electrical Engineering since that was my other
          main interest outside of programming. After I graduated in 2015, I decided to go the software route, and I've been in the industry ever since. 
        </p>
        <p>
          I hope you enjoy some of my articles and maybe even learn something useful from them. Feel free to reach me on <a href="https://www.linkedin.com/in/emmanuel-herrera-477b92b7" target="blank">LinkedIn</a>
        </p>
      </div>
    </div>
</Layout>
