---
import "global.css"
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="post-list">
		<div class="blog-summary">
			<a class="title" href="/real-time-dsp">Real-time FM Demodulator for an SDR device</a>
			<div>There are some really nice tools out there for making use of <a href="https://en.wikipedia.org/wiki/Software-defined_radio" target="_blank">SDR</a> devices. I've personally been using <a href="https://www.gnuradio.org/">gnuradio<a/> to get a better sense of how various modulation and filtering techniques work on real-world signals. Lately, however, I've been feeling the itch to dive more into the details and implement some of these techniques from scratch. In this article, I'll write a basic FM demodulator in C that can be used to listen to FM radio from an RTLSDR device.
			</div>
			<div class="published">August 11, 2025</div>
		</div>
		<div class="blog-summary">
			<a class="title" href="/color-quantization-2">Color Quantization Revisited</a>
			<div>I rewrote the Color Quantization algorithm from last time into a Bun application, a C++ application, and a multithreaded C++ application to improve performance. </div>
			<div class="published">May 26, 2025</div>
		</div>
		<div class="blog-summary">
			<a class="title" href="/mandelbrot">Fractal using WebGL</a>
			<div>Using WebGL Fragment Shaders to draw a fractal on a canvas</div>
			<div class="published">May 11, 2025</div>
		</div>
		<div class="blog-summary">
			<a class="title" href="/color-quantization">Color Quantization using K-means clustering</a>
			<div class="published">May 5, 2025</div>
		</div>
		<div class="blog-summary">
				<a class="title" href="/lc/basic-calculator-i">Leetcode - 224. Basic Calculator (TypeScript)</a>
				<div>My solution for <a href="https://leetcode.com/problems/basic-calculator/description/" target="_blank">Basic Calculator</a> implemented in TypeScript.</div>
				<div class="published">April 26, 2025</div>
		</div>
	</div>
</Layout>

<style>
	.blog-summary {
		border: 2px solid black;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		padding: 1rem 1rem 1rem 1rem;
		/*align-self: flex-start;*/
		height: auto;
	}
	.published {
		font-weight: 200;
		font-size: 0.7rem;
		margin-top: 0.5rem;
	}
	.title {
		margin-bottom: 0.5rem;
	}
	.post-list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>
